
    :root {
      /**
    * @tokens Spacings
    * @presenter Spacing
    */
      --global-gap-s: 8px;
      --global-gap-m: 16px;
      --global-gap-l: 32px;
      --label-gap: 8px;
    
      /**
    * @tokens BorderRadius
    * @presenter BorderRadius
    */
      --global-border-s: 4px;
      --global-border-l: 32px;
      --button-border-radius: 12px;
    
      /**
    * @tokens Colors
    * @presenter Color
    */
      --global-light-grey: #F5F5F5;
      --global-light-blue: #EAFBFF;
      --global-mid-blue: #0375B5;
      --global-dark-red: #FF0000;
      --button-color: #F9E7CC;
      --button-background: #EC8814
    }
    
    
    button {
      font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      border: 0;
      border-radius: var(--button-border-radius);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: var(--label-gap);
      height: 38px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 4px;
      padding-bottom: 4px;
      line-height: 1;
      color: var(--button-color);
      background-color: var(--button-background);
      border: none;
    }
    
    
    button:hover {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, .2) inset;
    }
    
    button:active {
      opacity: .9;
    }
    